<div class="container login-container">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-login">
        <%= form_for(:user, url: sessions_path) do |f| %>
          <h4>Welcome</h4>
          <%= f.text_field :username, class: "form-control input-sm chat-input" %></br>
          <%= f.password_field :password, class: "form-control input-sm chat-input" %></br>
          <div class="wrapper">
            <span class="group-btn">
              <%= button_tag(type: 'submit') do %>
                Login <i class="fa fa-sign-in"></i>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>